{% extends "../base.html" %}
{% load static %}
{% block title %}
{{ book.name }}
{% endblock %}
{% block content %}
<html>

  <body data-new-gr-c-s-check-loaded="14.1052.0" data-gr-ext-installed="">

    <div class="container" id="product-section">
        <div class="row">
         <div class="col-md-6">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#F8F9FA"></rect><text x="45%" y="50%" fill="#212529" dy=".3em">Book Image</text></svg>
         </div>  
         <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                 <h1 class = "py-3"><strong>{{ book.title }}</strong></h1>
               </div>
              </div><!-- end row-->
            <div class="row">
                <div class="col-md-12">
                 <span class="label label-primary">{{ book.author }}</span>
                </div>
            </div><!-- end row -->
            <div class="row">
                <div class="col-md-12">
                 <p class="description">
                    {{ book.description|slice:":355" }}...
                 </p>
                </div>
            </div><!-- end row -->
            <div class="row">
                <div class="col-md-12 bottom-rule">
                    <h2 class="product-price">${{ book.price }}</h2>
                </div>
            </div><!-- end row -->
               
            <div class="row add-to-cart">
                <div class="col-md-2 product-qty">
                    <strong><label for="qty" class="bg-light rounded-pill px-3 py-3  text-uppercase font-weight-bold"> QTY: </label>  </strong>
                </div>
                <div class="col-md-2 product-qty">
                    <strong><input id = "qty" type="number" class="form-control" id="input1" placeholder="1" min="1" max ="99"></strong>
                </div>
                <div class="col-md-4"> 
                 <button class="btn btn-dark py-2 btn-block btn-full-width text-uppercase" id="add-button" value ="{{book.id}}">
                  <strong>Add to Cart</strong>
                 </button>
                </div>
                <div class="col-md-4"> 
                    <button href ="#" class="btn btn-dark py-2 btn-block btn-full-width text-uppercase">
                     <strong>Reserve</strong>
                    </button>
                   </div>
               </div><!-- end row -->
               
               
               <div class="row">
                <div class="col-md-12 bottom-rule top-10"></div>
               </div><!-- end row -->
               
               <!-- Nav tabs -->
                <ul class="nav nav-tabs" role = "tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id= "desc-tab" data-bs-toggle="tab" data-bs-target="#desc" type="button" role="tab" aria-controls="desc" aria-selected="true">Description</button>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" id="desc" role="tabpanel" aria-labelledby="desc-tab">
                        <p>
                            {{ book.description }}
                           </p>
                    </div>
                  
                </div>
         </div>
            
        </div><!-- end row -->
        
       </div><!-- end container -->
</body>

<script>
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type:'POST',
            url: "{% url 'website:website-cart' %}",
            data: {
                id: $('#add-button').val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {

            },
            error: function (xhr, ermsg, err) {}
        });
    })

</script> 
</html>


{% endblock content %}

