{% extends "../base.html" %}
{% load static %}
{% block title %}
{{ book.name }}
{% endblock %}
{% block content %}
<html>

<body data-new-gr-c-s-check-loaded="14.1052.0" data-gr-ext-installed="">

    <div class="container" id="product-section">
        <div class="row">
            <div class="col-md-6">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="500"
                    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                    aria-label="Placeholder: Thumbnail">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#F8F9FA"></rect><text x="45%" y="50%" fill="#212529"
                        dy=".3em">Book Image</text>
                </svg>
            </div>

           

            <div class="col-md-6">
                {% if message %}
                <label style="color:green">{{ message }}</label>
                {% endif %}

                <form action="{{book.slug}}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <label>Book Title</label>
                            <input class="form-control" name="title" placeholder="Book Title" value="{{ book.title }}">
                        </div>
                    </div><!-- end row-->
                    <div class="row">
                        <div class="col-md-12">
                            <label>Author</label>
                            <input class="form-control" name="author" placeholder="Author" value="{{ book.author }}">
                        </div>
                    </div><!-- end row-->
                    <div class="row">
                        <div class="col-md-12">
                            <label>Description</label>
                            <input class="form-control" name="description" placeholder="Description"
                                value="{{ book.description }}">
                        </div>
                    </div><!-- end row-->
                    <div class="row">
                        <div class="col-md-6 bottom-rule">
                            <label>Price</label>
                            <input class="form-control" name="price" placeholder="Price" value="{{ book.price }}">
                        </div>
                        <div class="col-md-6 bottom-rule">
                            <label>Genre</label>
                            <input class="form-control" name="genre" placeholder="Genre" value="{{ book.genre }}">
                        </div>
                    </div><!-- end row -->
                    <br>
                    <div class="row add-to-cart">
                        <div class="col-md-2 product-qty">
                            <strong><label for="qty"
                                    class="bg-light rounded-pill px-3 py-3  text-uppercase font-weight-bold">
                                    Stock: </label>
                            </strong>
                        </div>
                        <div class="col-md-2 product-qty">
                            <strong><input id="stock" type="number" class="form-control" name="stock" placeholder="Stock"
                                    value="{{ book.stock }}" min="1" max="99"></strong>
                        </div>
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-dark py-2 btn-block btn-full-width text-uppercase"
                                action="{{book.slug}}" id="add-button" method="POST" value="{{book.id}}">
                                <strong>Save Changes</strong>
                            </button>
                        </div>
                    </div><!-- end row -->
                </form>


                <div class="row">
                    <div class="col-md-12 bottom-rule top-10"></div>
                </div><!-- end row -->

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="desc-tab" data-bs-toggle="tab" data-bs-target="#desc"
                            type="button" role="tab" aria-controls="desc" aria-selected="true">Description</button>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" id="desc" role="tabpanel"
                        aria-labelledby="desc-tab">
                        <p>
                            {{ book.description }}
                        </p>
                    </div>

                </div>
            </div>

        </div><!-- end row -->

    </div><!-- end container -->
</body>


{% endblock %}