<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="./css/bootstrap-grid.css" rel="stylesheet" media="screen">
    <link href="./modify.css" rel="stylesheet" media="screen">
</head>

<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="container-fluid">
      
      
      <button onclick="document.location='welcome'" class="btn btn-outline-light" type="button">Book Store</button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item justify-content-end">
            <button onclick="document.location='index'" class="btn btn-outline-light" type="button">Inventory</button>
          </li>
        </ul>
        <div class="collapse navbar-collapse" id="navbarsExample02">
          <ul class="navbar-nav me-auto">
            <li class="nav-item ">
              <button onclick="document.location='adset'" class="btn btn-outline-light " type="button">Admin Settings</button>
         
            </li>
          </ul>
      </div>

      
      </div>
      
    </div>
</nav>



<div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white  border rounded-3 mt-2 my-3" style="background-color: #34568B">
        <h1>Management Portal</h1>
        <h4>User Managment Portal:</h4> <ul><li>Users: Here you can manage users/vendors (Create, View, Delete)</li>
        <li>Orders: Orders can be edited/deleted or simply viewed</li><li>Newsletters: Create and send newsletters</li></ul>
       
        <button onclick="document.location='manageusers'" class="btn btn-outline-light" type="button">Manage</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 text-white  border rounded-3  mt-2 mr-3" style="background-color: #34568B">
        <h1>Reservation Management</h1>
        <h4>In Store pickups:</h4> <ul><li>View Orders: View any pending orders and the details</li>
          <li>Complete Orders: Mark any pending orders as completed upon pickup</li><li>Expired Orders: View expired orders and warn customer</li></ul>
        
        <button onclick="document.location='reserve'"class="btn btn-outline-light" type="button">Manage</button>
      </div>
    </div>
  </div>
 


<script src="./js/bootstrap.bundle.min.js"></script>
</html>