<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../../../static/css/bootstrap-grid.css" rel="stylesheet" media="screen">
    <link href="../../../static/css/modify.css" rel="stylesheet" media="screen">
</head>

<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="container-fluid ">
     <!----<img src="https://www.w3schools.com/images/img_girl.jpg" alt="Girl in a jacket" width="500" height="600">
     -->
     <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item justify-content-end">
          <button onclick="document.location='clientview'" class="btn btn-outline-light" type="button">Client Hub</button>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item ">
           
       
          </li>
        </ul>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <form method="post" action="logout">
              {% csrf_token %}
              <input  type='submit' class="btn btn-outline-light mr-1" value="Log out">
            </form>
          </li>
         
        </ul>
    </div>

    
    </div>
    </div>
</nav>
<body style= "background-color: #34568B;">


<div class="row align-items-md-stretch">
    
      <div class="border rounded mt-2" style= "background-size: cover;background-image: url('https://wallpaperaccess.com/full/38591.jpg');height: 1000px;  filter: blur(8px);
      -webkit-filter: blur(8px);">
      </div>
        <div style=" /* Fallback color */
         /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
       
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -190%);
        z-index: 2;
        width: 50%;
        padding: 20px;
        text-align: center;"> 
        <h2>Welcome to the Client Hub</h2>
        <p>Below you will find all the options available</p>
       
        </div>
      </div>
    
    
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white border rounded mt--3 ml-3 mr-3" style="transform: translate(0%, -300%); ">
        <h2>Profile</h2>
        <p>Edit your profile and more!</p>
        <button onclick="document.location='cliset'"class="btn btn-outline-light" type="button">Profile Settings</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 text-white border rounded  mr-3" style="transform: translate(0%, -300%);">
        <h2>View Sales Report</h2>
        <p>Check out how your sales are doing!</p>
        <button  class="btn btn-outline-light" type="button">Sales</button>
      </div>
    </div>
  </div>

</body>
<script src="../../../static/js/bootstrap.min.js"></script>
</html>