{% extends 'website/base.html' %}
{% load static %}
{% block title %}Search{% endblock%}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <form action="{% url 'website:website-index' %}" method="GET" value="{{request.GET.q}}">
      {% csrf_token %}
      <input type="text" name="q" value="{{request.GET.q}}" placeholder="" />
      <input type="submit" name="submit" value="Search" class="btn-outline-success bg-dark text-light />

      <input type="radio" class="btn-check" name="options" id="title" value="title" autocomplete="off" >
      <label class="btn btn-secondary" for="title">Title</label>

      <input type="radio" class="btn-check" name="options" id="author" value="author" autocomplete="off" >
      <label class="btn btn-secondary" for="author">Author</label>

      <input type="radio" class="btn-check" name="options" id="isbn" value="isbn" autocomplete="off" >
      <label class="btn btn-secondary" for="isbn">ISBN</label>

      <input type="radio" class="btn-check" name="options" id="subject" value="subject" autocomplete="off" >
      <label class="btn btn-secondary" for="subject">Subject</label>


    </form>
  </div>
</nav>




<div class="album py-5 bg-light">
  <div class="container">

    {% if searchbutton == 'Search' and request.GET.q != '' %}
    {% if results %}

    <div class="pb-3 h5">Results for <b> {{ request.GET.q }} </b></div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
    <!--div class="row gy-3"-->


      {% for result in results %}

      <div class="col-sm">
        <div class="card shadow-sm bg-dark text-light rounded-3 border-0" style="width: 18rem;">
          <img style = "width: 100%; height: 30vh; object-fit: cover;" class="card-img-top" alt="{{ result.picture.url }}" src="{{ result.picture.url }}">
          <div class="card-body">
            <p class="card-text">
              <a class="text-light text-decoration-none" href="{{ result.get_absolute_url }}">{{ result.title }}</a>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted"> {{ result.author }}</small>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
    {% else %}
    <div class="pb-3 h5">No books match <b> {{ request.GET.q }}</b> from <b> {{ request.GET.options }}.</b> <br> Try
      searching again, or browse our
      Catalog:</br></div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

      {% for book in books %}

      <div class="col-sm">
        <div class="card shadow-sm bg-dark text-light rounded-3 border-0" style="width: 18rem;">
          <img style = "width: 100%; height: 30vh; object-fit: cover;" class="card-img-top" alt="{{book.picture.url}}" src="{{ book.picture.url }}">
          <div class="card-body">
            <p class="card-text">
              <a class="text-light text-decoration-none" href="{{ book.get_absolute_url }}">{{ book.title }}</a>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted"> {{ book.author }}</small>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
    {% endif %}
    {% else %}
    <div class="pb-3 h5">Browse Catalog or Search</div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

      {% for book in books %}

      <div class="col-sm">
        <div class="card shadow-sm bg-dark text-light rounded-3 border-0" style="width: 18rem;">
          <img style = "width: 100%; height: 30vh; object-fit: cover;" class="card-img-top" alt="{{book.picture.url}}" src="{{ book.picture.url }}">
          <div class="card-body">
            <p class="card-text">
              <a class="text-light text-decoration-none" href="{{ book.get_absolute_url }}">{{ book.title }}</a>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted"> {{ book.author }}</small>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
    {% endif %}

  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="../../../static/js/bootstrap.min.js"></script>

</html>

{% endblock %}