{% extends "website/base.html" %}

{% block content %} 

<body>
  <br>
  <h3><b>Recover Account</b></h3>
  <form  method="post" action="passwordRecovery">
    {% csrf_token %} 
  <section class="py-5 my-5">
    <div class="container">
      <div class="bg-white rounded-lg d-block d-sm-flex">
        <div class="row">
          
          <div class="col-md-6">
            
            <div class="form-group">
              {% for message in messages %}
      					<h6 style="color: red;">{{message}}</h6>
    					{% endfor %}
              <label>Enter your recovery key</label>
              <input type="text" class="form-control" placeholder="recovery key" name="recovery">
              <label>New Password</label>
              <input type="text" class="form-control" placeholder="password" name="password">
              <label>Type it again</label>
              <input type="text" class="form-control" placeholder="retype" name="retype">
            </div>
          </div>
          
          <div class="col-md-6"></div>

          <div class="col-md-6">
            <div class="form-group">
              <input type="submit" class="form-control btn-primary"  value="Recover Account">
            </div>
          </div>
        </div>

      </div>
    </div>
    </div>
  </section>
</form>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
    {% endblock %}