{% extends "website/base.html" %}

{% block content %} 
<style>
  .checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
</style>
<body style="background-color: #34568B;">
  <br>
  
  <form  method="post" action="recoverAccount">
    {% csrf_token %} 
  <section class="py-5 my-5">
    <div class="container">
      <div class="bg-white shadow-lg rounded-lg " style="height: 400px;">
        <div style="transform: translate(0%, 50%);;"><h2 style="text-align: center; vertical-align: middle;">Account Recovery</h2></div>
        
       
          <div style="text-align: center;">
            <img src="https://us.123rf.com/450wm/nattyblissful/nattyblissful2007/nattyblissful200700051/151543277-unhappy-man-near-computer-forgot-account-login-and-password-flat-vector-male-character-design-concep.jpg?ver=6" alt="Girl in a jacket" width="250" height="200">
          <div class="col-md-12">
            
            <div class="form-group">
              {% for message in messages %}
      					<h6 style="color: red;">{{message}}</h6>
    					{% endfor %}
              <label>Enter your recovery key:</label>
              <input type="text" class="form-control" placeholder="recovery key" name="recovery">
              <label>Enter a new password:</label>
              <input type="text" class="form-control" placeholder="password" name="password">
              <label>Enter again:</label>
              <input type="text" class="form-control" placeholder="confirm" name="confirm">
            </div>
          </div>
          
          <div class="col-md-6"></div>

          <div class="col-md-12 justify-content-middle">
            <div class="form-group">
              <input type="submit" class="form-control btn-primary"  value="Change Password">
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
    </div>
  </section>
</form>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
    {% endblock %}